### Hi，我是九心

![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=mCyp&bg_color=30,C2FFD8,465EFB&title_color=fff&text_color=fff)

#### 在哪里找到我：

|                            掘金                            | 公众号 |                      简书                      |
| :--------------------------------------------------------: | :----: | :--------------------------------------------: |
| [点我](https://juejin.im/user/3526889033444855/activities) | 九心说 | [点我](https://www.jianshu.com/u/683403c18f98) |

#### 关于我:

- 🙋🏻 Android 程序员，懂一点 Android Jetpack \ Flutter
- 🏀 运动爱好者，游戏爱好者
- 📫 wangjie.c@yuewen.com

#### 技能点

![Android](https://img.shields.io/badge/Android-%2335495e.svg?style=for-the-badge&logo=Android&logoColor=%FF35D06D)
![Flutter](https://img.shields.io/badge/Flutter-%23323330.svg?style=for-the-badge&logo=Flutter&logoColor=%FF0F7BE4)
![Jenkins](https://img.shields.io/badge/Jenkins-%2335495e.svg?style=for-the-badge&logo=jenkins&logoColor=%FFC62327)
![JavaScript](https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E)
![Vue.js](https://img.shields.io/badge/vuejs-%2335495e.svg?style=for-the-badge&logo=vuedotjs&logoColor=%234FC08D)

#### 最近更新：

<!-- BLOG-POST-LIST:START -->
- [How I built one of the top 20 most used Github Actions](https://www.gautamkrishnar.com/how-i-built-one-of-the-top-20-most-used-github-actions/)
- [Show your latest dev.to posts automatically on your GitHub profile readme](https://dev.to/gautamkrishnar/show-your-latest-dev-to-posts-automatically-in-your-github-profile-readme-3nk8)
- [God Mode in browsers: document.designMode = "on"](https://dev.to/gautamkrishnar/god-mode-in-browsers-document-designmode-on-2pmo)
- [Skipping the Chrome "Your connection is not private" warning](https://dev.to/gautamkrishnar/quickbits-1-skipping-the-chrome-your-connection-is-not-private-warning-4kp1)
- [Microsoft Student Partners – Geek is the new rockstar](https://dev.to/gautamkrishnar/microsoft-student-partners--geek-is-the-new-rockstar)
<!-- BLOG-POST-LIST:END -->

#### 我的作品
<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>
<p>Above are the last 3 pictures posted by <a href="https://www.instagram.com/jiuxin98/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/> @jiuxin98!</a></p>
